.jd_container {
  width: 100%;
  /* 最大的宽度 */
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 40px;
}
.jd_header {
  height: 40px;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  background-color: rgba(222, 24, 27, .9);
  position: fixed;
  top: 0;
  z-index: 999;
}

.jd_header .logo {
  width: 75px;
  height: 40px;
  /* background-color: green; */
  float: left;
  position: relative;
}

.jd_header .logo i {
  width: 57px;
  height: 23px;
  position: absolute;
  top: 8px;
  left: 6px;
  /* background: url('../images/jd-sprites.png') 0 -108px;
  background-size: 200px 200px; */
  background-position: 0 -108px;
}


.jd_header .login {
  width: 50px;
  height: 40px;
  float: right;
  /* background-color: green; */
  text-align: center;
  line-height: 40px;
}

.jd_header .login a {
  color: #fff;
}

.jd_header .search {
  height: 40px;
  /* background-color: yellow; */
  overflow: hidden;
  position: relative;
}

.jd_header .search input {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  border-radius: 15px;
  padding-left: 35px;
}

.jd_header .search .search_icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 9px;
  left: 9px;
  /* background: url(../images/jd-sprites.png) -59px -108px;
  background-size: 200px 200px; */
  background-position: -59px -108px;
}


/* 京东导航 */
.jd_nav li {
  float: left;
  width: 20%;
  text-align: center;
  padding: 10px 0;
}

.jd_nav li img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.jd_nav li p {
  height: 30px;
  line-height: 30px;
}

/* 京东新闻 */
.jd_news {
  height: 30px;
  background-color: #fff;
  margin: 0 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.jd_news .logo {
  width: 82px;
  height: 30px;
  /* background-color: pink; */
  float: left;
}

.jd_news .logo img {
  width: 73px;
  height: 16px;
  margin-top: 7px;
  margin-left: 7px;
}

.jd_news .info {
  height: 30px;
  overflow: hidden;
}

.jd_news .info li {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}

.jd_news .more {
  width: 40px;
  height: 30px;
  /* background-color: pink; */
  float: right;
  line-height: 30px;
}


/* 京东秒杀 */
.jd_seckill {
  background-color: #fff;
}

/* 强类名 */
.seckill_title {
  height: 30px;
  padding: 0 10px;
}

.seckill_title .logo {
  width: 80px;
  height: 30px;
  /* background-color: pink; */
  float: left;
  line-height: 30px;
  color: #f23030;
  padding-left: 24px;
  letter-spacing: 2px;
  position: relative;
}

.seckill_title .logo i {
  position: absolute;
  width: 22px;
  height: 22px;
  background-position: -82px -109px;
  top: 3px;
  left: 1px;
}

.seckill_title .more {
  width: 70px;
  height: 30px;
  /* background-color: pink; */
  float: right;
  line-height: 30px;
  text-align: center;
}

.seckill_title .time {
  height: 30px;
  overflow: hidden;
  padding-left: 10px;
  padding-top: 6px;
}

.seckill_title .time span {
  float: left;
  text-align: center;
  height: 18px;
  line-height: 18px;
}

.seckill_title .time span:nth-child(even) {
  width: 6px;
}

.seckill_title .time span:nth-child(odd) {
  width: 18px;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
}

/* 在移动端 滚动条非常细 */
.seckill_content {
  overflow: hidden;
}

.seckill_content ul {
  width: 2000px;
}


.seckill_content li {
  float: left;
  width: 87px;
  text-align: center;
}

.seckill_content li:last-child a{
  border-right: none;
}

.seckill_content a {
  display: block;
  width: 87px;
  height: 70px;
  border-right: 1px solid #ccc;
  overflow: hidden;
}

.seckill_content img {
  width: 60px;
  height: 60px;
  margin: 5px auto;
}

.seckill_content .p1 {
  color: #f23030;
  font-weight: 700;
}

.seckill_content .p2 {
  text-decoration: line-through;
}

/* 京东主会场 */
.jd_main li {
  float: left;
  width: 33.33%;
}


/* 京东商品 */
.jd_product li {
  overflow: hidden;
}

.jd_product li a {
  float: left;
  width: 50%;
}

.jd_product li:first-child a {
  width: 33.33%;
}

.jd_footer {
  height: 50px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  max-width: 640px;
  min-width: 320px;
}

.jd_footer li {
  float: left;
  width: 20%;
}


.jd_footer img {
  width: 65px;
  height: 50px;
  margin: 0 auto;
}
